html {
	font-family: arial;
}

.source-btn {
	border: solid 1px;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.source-btn + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    margin: 10px;
}

.source-btn:focus + label,
.source-btn + label:hover {
    background-color: red;
}

.medal-icon {
	border-radius: 4px;
	min-height: 30px;
	font-size: 35px;
	padding: 10px;
	border: solid 1px;
	margin: 25px;
}

.go-btn {
	width: 20%;
	min-height: 30px;
	font-size: 35px;
}
